
body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
}
body ::-webkit-scrollbar {
  width: 6px;
  border-radius: 0;
  background: gray;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background:  #e7e7e7;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #000000;
}
::-webkit-scrollbar{
  height: 6px;
  width: 6px;
  background:  #e7e7e7;
}
::-webkit-scrollbar-thumb:horizontal{
  background: #000000;
  border-radius: 10px;
}


.navBox{
 position: fixed;
 display: grid;
 grid-template-columns: repeat(2, 1fr); 
 grid-template-rows: 5rem 1fr;
 grid-auto-flow: column;
 z-index: 5;
 border-bottom: 1px solid;
 width: 100vw;
 background-color: white;
}

@media only screen and (min-width: 769px) {
    .navBox {
    width: 100%; 
    }}


.logo{
grid-row: 1;
grid-column: 1 / span 2;
margin-left: 0.2rem;
align-self: auto;
margin-top: 0.7rem;
font-family: 'Playfair Display', serif;
font-weight: 100;
font-size: 4rem;
letter-spacing: -0.8rem;
cursor: default;
}

@media only screen and (min-width: 769px) {
    .logo {
    font-size: 6rem;
    padding-left: 9rem;
    letter-spacing: -1.3rem;
    margin-top: -1.4rem;
    }}
    
    @media only screen and (max-width: 400px) {
      .logo {
      padding-left:4rem;
      }}

.bag{
  grid-column: 3;
  grid-row: 1;
    background-image: url("https://res.cloudinary.com/dbrrwlzjo/image/upload/v1598626455/TrulyHuman/icons8-shopping-bag-50_vjwypr.png");
}

.search{
  grid-column: 4;
  grid-row: 1;
  background-image: url("https://res.cloudinary.com/dbrrwlzjo/image/upload/v1598968851/TrulyHuman/icons8-search-50_zly142.png");
}

@media only screen and (min-width: 769px) {
  .search{
    margin-left: 3rem;
    margin-right: 3rem;
    }}

    @media only screen and (max-width: 768px) {
      .search{
       display:none;
        }}

.icons{
  align-self: center;
  justify-self: center;
  width: 28px;
  height: 28px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-size: 100%;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 769px) {
  .icons{
    width: 50px;
    height: 50px;
    }}

icon {  
  outline: 0px transparent !important;
}


.menubtn{
    z-index: 100;
    grid-column: 5;
    grid-row: 1;
    width: 28px;
    height: 28px;
    margin-right: 1rem; 
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url("https://res.cloudinary.com/dbrrwlzjo/image/upload/v1598626455/TrulyHuman/icons8-menu-50_zb4bpt.png");
    background-size: 100%;
    align-self: center;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

@media only screen and (min-width: 769px) {
    .menubtn {
        width: 50px;
        height: 50px; 
        margin-right: 8rem; 
        margin-left: 0rem;
        align-self: center;
        margin-top: 0rem;
    }}
    
    @media only screen and (max-width: 1000px) {
      .menubtn {
  
      margin-right: 3rem;
      }}

.closeMenubtn{
    background-image: url("https://res.cloudinary.com/dbrrwlzjo/image/upload/v1598626695/TrulyHuman/icons8-delete-50_ktz84m.png");  
}

.menuLinks{
  display: none;
}

.menuLinks.show{
    display: grid;
    grid-auto-flow: row;
    grid-row: 2;
    grid-column: 3 span;
    height: auto;
    background-color: white;
    z-index: 1;
    color: white;
    justify-self: end;
    text-align: right;
    overflow-y: scroll;
}

@media only screen and (min-width: 769px) {
  .menuLinks.show {
    overflow-y: hidden;
  }}

@media only screen and (min-width: 769px) {
  .searchCat {
     display: none;
  }}


.category{
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 2;
    justify-self: end;
}

.category:hover{
  text-decoration: underline;
}

.category.big{
    font-size: 2rem;
}

.category.medium{
  font-size: 1.5rem;
}

.show {
  /* show the menu */
    transform: translateX(0%);
  }

  
  /* SlideShow */
  
  
  .slideBox {
    display: flex;
    overflow: hidden;
    justify-content: center;
    max-height: 100vh;
}

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
  }


  .shopNow{
    z-index: 3;
    position: absolute;
    display: flex;
    align-self: flex-end;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2em;
    background: rgba(26, 7, 7, 0.46);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-bottom: 1rem !important;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }

  .shopNow:hover{
    font-size: 3.1rem;
  }

  @media only screen and (min-width: 769px) {
    .shopNow {
        font-size: 3em;
        margin-bottom: 2rem;
        margin-top: -2rem;
    }}


    /* New Arrivals, first frame */
    
    .mainContent{
      display: flex;
      flex-flow: column;
      font-family: 'Montserrat', sans-serif;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      justify-content: center;
    }

     @media only screen and (min-width: 769px) {
      .mainContent {
          margin: auto;
          max-width: 80rem;
          justify-content: center;
          margin-top: 4rem;
        }}

    .headline{
      font-size: 2rem;
      margin-left: 1rem;
    }
   
    @media only screen and (min-width: 769px) {
      .headline{
         margin-left: 0rem;
         font-size: 3rem;
        }}

    .newArrivals{
      display: flex;
      width:100%;
      flex-flow: row;
      overflow-x: scroll ;
    }
          

    .product{
      margin-left: 1rem;
      display: grid;
      grid-template-rows: repeat(4, auto);
      grid-auto-flow: row;
      grid-template-columns: 1fr;
      grid-row-gap: 0.5rem;
      grid-template-areas: 
      "pic"
      "colors"
      "info"
    ;
    }

    .newPic{
      grid-area: pic;
      height: 15rem;
      margin-right: 0.5rem;
      cursor: pointer;
    }

    @media only screen and (min-width: 769px) {
      .newPic {
        height: 35rem;
      }}

    
    .color1, .color2{
      grid-area: colors;
    }

    .productInfo{
      grid-area: info;
    }

  p1, p2{
    line-height: 1.5;
  }
    
  @media only screen and (min-width: 769px) {
    p1, p2{
        font-size: 1rem;
        line-height: 1.5;
    }}

    .sustain{
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-auto-flow: row;
      grid-template-columns: 1fr;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }


    h4{
      margin-top: -1rem;
      font-size: 1.2rem;
      line-height: 1.5;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    @media only screen and (min-width: 769px) {
      h4{
        font-size: 1.5rem;
        line-height: 2;
        margin-left: 0rem;
      }}

    p3{
      justify-self: center;
      font-size: 1.1rem;
      line-height: 1.5;
      text-align: justify;
      margin-left: 1rem;
      margin-right: 1rem;
    }

 @media only screen and (min-width: 769px) {
  p3{
    justify-self: center;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    margin-left: 0rem;
    margin-right: 0rem;
    text-decoration: none;
  }}

    .stories{
      display: flex;
      flex-flow: column;
      justify-content: center;
      width: 100%;
    }

    @media only screen and (min-width: 769px) {
      .stories { 
      flex-direction: row;
      flex-wrap: wrap;
      }}
    
    .story{
      display: flex;
      justify-content: center;
      margin-bottom: 0.5rem;
      }

         @media only screen and (min-width: 769px) {
          .story {
            margin-right: 0.5rem;
          }}

            .storyPic{
              max-width: 100%;
            }

      @media only screen and (min-width: 769px) {
        .storyPic {
         width: 39.5rem;
        }}


        .storyText{
          z-index: 3;
          position: absolute;
          background: rgba(26, 7, 7, 0.46);
          border:none;
          padding-top: 1rem;
          padding-bottom: 1rem;
          text-align: center;
          width: 95% !important;
          width: 100%;
        }


        @media only screen and (min-width: 769px) {
          .storyText {
            margin-left: -0rem;
            margin-right: -0rem;
            width: 39.5rem !important;
          }}
        
        p4{
          font-size: 1rem;
          color: white;
        }

        @media only screen and (min-width: 769px) {
          p4 {
           font-size: 1.2rem;
          }}



          footer{
            margin-top: 4rem;
            background-color: #ffffff;
            display: flex;
            flex-flow: column;
            flex-wrap: wrap;
            justify-content: center;
            border-top: 1px solid;
            text-align: center;
            }

        h6{
          font-family: 'Playfair Display', serif;
        }


        @media only screen and (min-width: 769px) {
          h6 {
           font-size: 2rem;
          }}

          p5{
            font-family: 'Montserrat', sans-serif;
          }